.active {
  background: #CACACA;
}

.sidebar {
  position: absolute;
  display: inline-block;
  width: 100%;
  background: #AAA;
  height: 100%;
  opacity: .9;
}

.sidebar > div {
  position: relative;
  margin: 5px 0px;
  padding: 5px;
}

.sidebar > div:hover {
  cursor: pointer;
  background: #EAEAEA;
}

.close {
  display: block;
  margin-top: 50px;
  width: 100%;
  background: #F3F3F3;
}

.close > button {
  width: 100%;
}
