.active {
  background: #CACACA;
}

.sidebar {
  position: absolute;
  display: inline-block;
  width: 150px;
  background: #AAA;
  height: 100%;
  opacity: .9;
}

.sidebar > div {
  position: relative;
  margin: 5px 0px;
  padding: 5px;
}

.sidebar > div:hover {
  cursor: pointer;
  background: #EAEAEA;
}
